* {
    /* 在X5新内核Blink中，在排版页面的时候，会主动对字体进行放大，会检测页面中的主字体，当某一块字体在我们的判定规则中，认为字号较小，并且是页面中的主要字体，就会采取主动放大的操作。然而这不是我们想要的，可以采取给最大高度解决 */
    max-height: 100000px;
}

*:before,
*:after {
    box-sizing: border-box;
    max-height: 100000px;
}

*,
*:before,
*:after {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
textarea,
td {
    border: 0 none;
    font-size: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    position: relative;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",Arial,sans-serif;
    line-height: 1.5;
    font-size: .28rem;
}

input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

.wrapBox {
    max-width: 7.5rem;
    line-height: .48rem;
    margin: 0 auto;
    background-color: #f4f4f4;
    color: #202125;
    font-size: .28rem;
    overflow: auto;
}


/*顶部导航*/

.header,
.footer {
    position: fixed;
    left: 0;
    z-index: 10;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -moz-box-align: justify;
    -ms-flex-align: center;
    justify-content: space-between;
    text-align: center;
}

.header {
    top: 0;
    height: .82rem;
    line-height: .82rem;
    background-color: #ffda2a;
    text-align: center;
}

.header>h1 {
    display: block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.header h1 {
    font-size: .34rem;
}


/*底部导航*/

.footer {
    bottom: 0;
    height: .98rem;
}

.footer>a {
    display: block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.footer__box {
    width: 100%;
    height: .98rem;
    line-height: .98rem;
    padding: .18rem 0 0 0;
    border-top: 1px solid #f4f4f4;
    background-color: #fff;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -moz-box-align: justify;
    -ms-flex-align: center;
    justify-content: space-between;
    align-content: center;
}

.footer__box a {
    display: block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    color: #666666;
}

.footer__box a.active {
    color: #ffda2a;
}

.footer__box a span {
    display: block;
    font-size: .34rem;
}

.footer__box a p {
    line-height: .4rem;
    font-size: .22rem;
}


/*首页主体内容*/

.main {
    padding: 1.02rem .2rem 1.1rem .2rem;
}

.opacity {
    -webkit-animation: opacity 0.3s linear;
    animation: opacity 0.3s linear;
}

.main__list {
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-bottom: .2rem;
}

.main__list a img {
    display: block;
    width: 100%;
    height: 4.4rem;
}

.main__list figcaption {
    padding: .09rem .16rem .17rem;
    line-height: .48rem;
}

.main__list figcaption p {
    font-size: .28rem;
    margin-bottom: .06rem;
}

.main__list figcaption summary {
    font-size: .22rem;
}

.main__list figcaption summary em {
    padding: 0 .06rem;
}


/*商品详情*/

.details {
    margin: .82rem 0 .9rem;
}

.details__top,
.details__text {
    margin-bottom: .15rem;
}

.details__top a img {
    height: 4.65rem;
}

.details__top figcaption summary {
    padding-left: .08rem;
    font-size: .3rem;
    overflow: hidden;
}

.details__top figcaption span {
    color: #ec2121;
}

.details__top figcaption i {
    padding-left: .08rem;
    font-size: .34rem;
}

.details__top figcaption em {
    float: right;
    margin-right: .08rem;
    font-size: .22rem;
    color: #666;
}

.details__text,
.details__intro {
    padding-bottom: .3rem;
    background-color: #fff;
}

.details__text h3,
.details__intro h3 {
    height: 1.1rem;
    line-height: 1.1rem;
    text-align: center;
    font-size: .3rem;
}

.text__box {
    padding: 0 .44rem .41rem;
}

.text__box p {
    height: .82rem;
    line-height: .82rem;
    padding-left: .34rem;
    border: 1px solid #f4f4f4;
}

.text__box p:nth-of-type(2n-1) {
    background-color: #f4f4f4;
}

.intro__box {
    color: #333;
}

.intro__box img {
    width: 100%;
    margin: .15rem 0;
}

.intro__box p {
    padding: 0 .25rem;
}

.purchase {
    display: block;
    height: .9rem;
    line-height: .9rem;
    margin-top: .1rem;
    text-align: center;
    color: #202125;
    font-size: .34rem;
    background-color: #ffda2a;
}

.footer-goods {
    line-height: .98rem;
    background-color: transparent;
}


/*购买弹窗*/

.none {
    display: none;
}

.filterBox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 40;
    width: 100%;
    height: 100%;
}

.buyBox {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    padding-bottom: 1rem;
    background-color: #f4f4f4;
}

.buy__top {
    width: 100%;
}

.buy__top a {
    display: block;
}

.buy__top a img {
    position: absolute;
    top: -.51rem;
    left: .32rem;
    width: 2.1rem;
    height: 2.1rem;
    border: 1px solid #f4f4f4;
    border-radius: .18rem;
}

.buy__top summary {
    margin-left: 2.8rem;
    margin-top: .4rem;
}

.buy__top summary h4 {
    font-size: .3rem;
}

.buy__top summary span:nth-of-type(1) {
    font-size: .28rem;
    color: #ec2121;
}

.buy__top summary span:nth-of-type(1) i {
    padding-left: .08rem;
    font-size: .3rem;
}

.buy__top summary span:nth-of-type(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: .78rem;
    text-align: right;
}

.buy__top summary span:nth-of-type(2) em {
    margin-right: .3rem;
    margin-top: .2rem;
    font-size: .38rem;
    color: #999;
}

.buy__middle {
    margin-top: .43rem;
    padding: 0 .32rem;
    font-size: .3rem;
    color: #666;
}

.buy__middle>p {
    height: 1.27rem;
    line-height: 1.27rem;
    border-bottom: 1px solid #d6d6d6;
}

.buy__middle>p:last-of-type {
    border-bottom: none;
}

.buy__middle>p>em {
    margin-right: .2rem;
}

.middle__color input,
.middle__size input {
    display: none;
}

.middle__color label,
.middle__size label {
    display: inline-block;
    margin-right: .31rem;
}

.middle__color i,
.middle__size i {
    display: block;
    width: 1.01rem;
    height: .5rem;
    line-height: .46rem;
    font-size: .26rem;
    text-align: center;
    border: 1px solid #9d9d9d;
    border-radius: .08rem;
}

.middle__color input:checked+i,
.middle__size input:checked+i {
    background-color: #ffda2a;
    border: 1px solid #ffda2a;
    color: #202125;
}

.middle__amount {
    float: right;
}

.middle__amount a,
.middle__amount input {
    display: inline-block;
    height: .6rem;
    line-height: .6rem;
    text-align: center;
    vertical-align: middle;
    background-color: #dedcdc;
    color: #666;
}

.middle__amount a {
    width: .5rem;
}

.middle__amount input {
    width: .77rem;
    margin: 0 .1rem;
    font-size: .3rem;
    border: none;
}

.buy__bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.nextStep {
    display: block;
    width: 100%;
    height: .9rem;
    line-height: .9rem;
    text-align: center;
    color: #202125;
    font-size: .34rem;
    background-color: #ccc;
}

.nextStep.submit {
    color: #202125;
    background-color: #ffda2a;
}


/*提交订单*/

.order {
    margin-top: .82rem;
    margin-bottom: 1rem;
}

.order__top,
.order__middle {
    border-bottom: .15rem solid #f4f4f4;
    background-color: #fff;
}

.order__topNew {
    height: 2.03rem;
}

.order__topNew a {
    display: block;
    height: 2.03rem;
    padding: 0 .3rem;
    color: #202125;
    overflow: hidden;
}

.order__topNew a>div {
    float: left;
    width: 6.3rem;
    padding: .3rem 0 .28rem;
}

.order__topNew a>div h3 {
    font-size: .3rem;
}

.order__topNew a>div h3 span {
    margin-right: .45rem;
}

.order__topNew a>div p {
    line-height: .44rem;
    color: #333;
}

.order__topNew a>span {
    float: right;
    height: 2.03rem;
    line-height: 1.83rem;
}

.newOrder {
    display: block;
    width: 100%;
    height: 1.27rem;
    line-height: 1.35rem;
    padding: 0 .3rem;
    color: #202125;
}

.newOrder span {
    margin-right: .3rem;
    padding: .1rem;
    font-size: .26rem;
    color: #fff;
    background-color: #ffda2a;
}

.order__mTit {
    height: 1.05rem;
    line-height: 1.05rem;
    padding: 0 .3rem;
}

.order__mTit span {
    margin-right: .18rem;
}

.order__mImg {
    height: 1.6rem;
    padding: 0 .3rem;
    background-color: #f4f4f4;
    overflow: hidden;
}

.order__mImg img,
.order__mImg summary {
    float: left;
}

.order__mImg img {
    width: 1.6rem;
    height: 1.6rem;
}

.order__mImg summary {
    width: 5.3rem;
    padding: .28rem 0 0 .25rem;
    font-size: .3rem;
}

.order__mImg summary p {
    overflow: hidden;
}

.order__mImg summary p:nth-of-type(1) span {
    color: #ec2121;
    font-size: .26rem;
}

.order__mImg summary p:nth-of-type(2) {
    margin-top: .15rem;
}

.order__mImg summary p:nth-of-type(2) em {
    color: #999;
    font-size: .24rem;
}

.order__mImg summary p:nth-of-type(2) em i {
    padding: 0 .1rem;
}

.order__mImg summary p:nth-of-type(2) span {
    font-size: .26rem;
    color: #333;
}

.order__mImg summary span {
    float: right;
}

.order__ship {
    height: 1.14rem;
    line-height: 1.14rem;
    padding: 0 .3rem;
    border-bottom: 1px solid #f4f4f4;
    overflow: hidden;
}

.order__ship span {
    float: right;
}

.order__lWord {
    height: 1.26rem;
    line-height: 1.26rem;
    padding: 0 .3rem;
}

.order__lWord input {
    display: inline-block;
    width: 5.2rem;
    border: none;
    background: transparent;
    padding-left: .2rem;
    font-size: .26rem;
}

.order__bottom {
    height: 1.76rem;
    padding: .43rem .3rem 0;
    background-color: #fff;
    border-bottom: 1px solid #f4f4f4;
}

.order__bottom p span {
    float: right;
    color: #ec2121;
}

.order__bottom p:nth-of-type {
    margin-bottom: .08rem;
}

.footer__order {
    height: .9rem;
    line-height: .9rem;
    border-top: 1px solid #f4f4f4;
    background-color: #fff;
    overflow: hidden;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.footer__order span {
    float: right;
    margin-right: .45rem;
}

.footer__order span i {
    color: #ec2121;
}

.orderBtn {
    display: block;
    float: right;
    width: 2.32rem;
    height: 100%;
    color: #202125;
    background-color: #ffda2a;
    text-align: center;
}


/*新建收货地址*/

.wrapOrder {
    background-color: #fff;
}

.newAddress {
    margin-top: .97rem;
    font-size: .3rem;
}

.newAddress p {
    position: relative;
    height: 1.05rem;
    line-height: 1.05rem;
}

.newAddress p span,
.newAddress p input {
    float: left;
}

.newAddress p span {
    width: 1.7rem;
    text-align: right;
}

.newAddress p input {
    width: 5rem;
    height: .64rem;
    line-height: .64rem;
    margin-top: .19rem;
    padding: 0 .05rem 0 .1rem;
    border: none;
    border-bottom: 1px solid #f4f4f4;
    font-size: .28rem;
}

.newAddress p input:focus:invalid {
    /*    border:solid 1px #F5192F;*/
    box-shadow: 0 1px 10px #F5192F;
}

.newAddress p input:focus:valid {
    /*    border:solid 1px #5cb85c;*/
    box-shadow: 0 1px 10px #5cb85c;
}

.newAddress p i {
    position: absolute;
    right: .35rem;
    top: 0;
}

.saveBtn {
    display: block;
    width: 6.5rem;
    height: .9rem;
    line-height: .9rem;
    margin: .82rem auto 0;
    text-align: center;
    color: #221815;
    background-color: #ffda2a;
    font-size: .34rem;
}


/*管理收货地址*/

.manaAddress {
    margin-top: .82rem;
    margin-bottom: 1.2rem;
}

.mana__list {
    padding: .4rem 0 0 0;
    border-bottom: .1rem solid #f4f4f4;
}

.mana__list>a {
    display: block;
    color: #202125
}

.mana__list>a>div {
    padding: 0 .3rem;
}

.mana__list>a>div h3 {
    font-size: .3rem;
    overflow: hidden;
}

.mana__list>a>div h3 i{
    float: right;
    margin-right: .1rem;
    font-size: .35rem;
}

.mana__list>a>div span {
    margin-right: .4rem;
}

.mana__list>a>div p {
    line-height: .44rem;
    padding: .2rem 0 .18rem;
    color: #666;
    font-size: .26rem;
}

.mana__list figcaption {
    line-height: .44rem;
    padding: .11rem .3rem;
    border-top: .01rem solid #f4f4f4;
    overflow: hidden;
    color: #999;
    font-size: .26rem;
}

.mana__list figcaption a {
    color: #999;
}

.mana__list figcaption span {
    margin-right: .08rem;
}

.mana__list figcaption label {}

.mana__list figcaption label.checked {
    color: #ffda2a;
}

.mana__list figcaption input {
    display: none;
}

.mana__list figcaption aside {
    float: right;
}

.mana__list figcaption aside a:first-of-type {
    margin-right: .35rem;
}

.manaBtn {
    height: 1.1rem;
    line-height: 1.1rem;
    margin-top: -.01rem;
}

.manaBtn span {
    margin-right: .18rem;
    border: 2px solid #000;
    padding: 2px 2px 3px 4px;
    border-radius: 50%;
    font-size: .26rem;
}

.tips {
    margin-top: 2rem;
    text-align: center;
    color: #ccc;
    font-size: .28rem;
}

.tips span {
    font-size: .5rem;
}

.footer.footer-address {
    height: 1.1rem;
    line-height: 1.1rem;
}


/*订单页面*/

.orderMain {
    margin-top: .82rem;
    margin-bottom: .98rem;
}

.oM__nav {
    height: .99rem;
    line-height: .98rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -moz-box-align: justify;
    -ms-flex-align: center;
    justify-content: space-between;
    align-content: center;
}

.oM__nav a {
    display: block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-bottom: .03rem solid #f4f4f4;
    text-align: center;
    color: #202125;
}

.oM__nav a.active {
    color: #ffda2a;
    border-bottom: .03rem solid #ffda2a;
}

.order__number {
    margin-top: .35rem;
    padding: 0 .3rem;
    font-size: .26rem;
    color: #666;
    overflow: hidden;
}

.order__number em {
    float: right;
    color: #ec2121;
}

.order__btn {
    padding: .26rem .3rem .3rem;
    text-align: right;
}

.order__btn a {
    display: inline-block;
    width: 1rem;
    height: .5rem;
    line-height: .5rem;
    text-align: center;
    border: .02rem solid #ffda2a;
    color: #666;
    background-color: #ffda2a;
}

.order__btn a:first-of-type {
    margin-right: .24rem;
    border: .02rem solid #666;
    background-color: #fff;
}

.footer.footer-order {
    height: .9rem;
    line-height: .9rem;
}


/*个人中心*/

.user {
    margin-top: .82rem;
    margin-bottom: 1rem;
    font-size: .3rem;
}

.user a {
    display: block;
    height: 100%;
    color: #202125;
    overflow: hidden;
}

.user__list {
    border-bottom: .15rem solid #f4f4f4;
}

.user__list p {
    height: 1.3rem;
    line-height: 1.3rem;
    padding: 0 .3rem;
    border-bottom: .01rem solid #f4f4f4;
}

.user__list .user__head {
    height: 1.82rem;
    line-height: 1.82rem;
}

.user__list .user__head i {
    display: block;
    padding-top: .3rem;
}

.user__list .user__head img {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: .6rem;
}

.user__list .user__name i,
.user__list .user__gender i {
    width: 5.4rem;
    text-align: right;
    padding-right: .1rem;
}

.user__list p:last-of-type {
    border-bottom: none;
}

.user__list p i {
    float: right;
    height: 100%;
    line-height: 1.3rem;
}

.user__list:last-of-type p i {
    width: .5rem;
    font-size: .24rem;
}


/*插件*/

.area_ctrl {
    background-color: #eee;
}
.dropload-up, .dropload-down {
    font-size: .22rem;
}


/*动画库*/

.animated {
    animation-duration: .3s;
    animation-fill-mode: both;
}

.animated.infinite {
    animation-iteration-count: infinite;
}

.animated.hinge {
    animation-duration: 2s;
}

@keyframes slideInUp {
    from {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInUp {
    animation-name: slideInUp;
}

@keyframes slideOutDown {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        transform: translate3d(0, 100%, 0);
    }
}

.slideOutDown {
    animation-name: slideOutDown;
}

@keyframes filterIn {
    0% {
        display: block;
        background: rgba(0, 0, 0, 0);
    }
    30% {
        background: rgba(0, 0, 0, .2);
    }
    100% {
        background: rgba(0, 0, 0, .3);
    }
}

.filterIn {
    animation-name: filterIn;
}

@keyframes filterOut {
    0% {
        background: rgba(0, 0, 0, .3);
    }
    70% {
        background: rgba(0, 0, 0, .2);
    }
    100% {
        background: rgba(0, 0, 0, 0);
        display: none;
    }
}

.filterOut {
    animation-name: filterOut;
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (min-width: 320px) {
    html {
        font-size: 100px;
    }
}
 
@media screen and (min-width: 360px) {
    html {
        font-size: 112.5px;
    }
}
 
@media screen and (min-width: 400px) {
    html {
        font-size: 125px;
    }
}
 
@media screen and (min-width: 440px) {
    html {
        font-size: 137.5px;
    }
}
 
@media screen and (min-width: 480px) {
    html {
        font-size: 150px;
    }
}
 
@media screen and (min-width: 640px) {
    html {
        font-size: 200px;
    }
}
 
html {
    font-size: 31.25vw;
}