* {
    /* 在X5新内核Blink中，在排版页面的时候，会主动对字体进行放大，会检测页面中的主字体，当某一块字体在我们的判定规则中，认为字号较小，并且是页面中的主要字体，就会采取主动放大的操作。然而这不是我们想要的，可以采取给最大高度解决 */
    max-height: 100000px;
}

*:before,
*:after {
    box-sizing: border-box;
    max-height: 100000px;
}

*,
*:before,
*:after {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
textarea,
td {
    border: 0 none;
    font-size: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    position: relative;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",Arial,sans-serif;
    line-height: 1.5;
    font-size: .26rem;
}

input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

.wrapBox {
    max-width: 100%;
    line-height: .48rem;
    margin: 0 auto;
    background-color: #0e1317;
    color: #fff;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.wrapBox_white{
    background-color: #fff;
}
.wrapBox_black{
    background-color: #272827;
}
.wrapBox_iphone{
    min-height: 13.34rem;
}
/* 颜色 */
.color-yellow{
    color: #fbdb2f;
}
.color-gray{
    color: #999;
}
.bgcolor-yellow{
    background-color: #fbdb2f;
}
.bgcolor-ccc{
    background-color: #ccc;
}
.block{
    display: block;
}
/* 弹出层 */
.dialog-model{
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
    display: block;
}
/* 蒙版 */
.filter{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .45);
    display: none;
}

/* 我的课程 */
.myClass_head{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2.22rem;
    text-align: center;
    font-size: .29rem;
}
.myClass_head article{
    flex: 1;
}
.myClass_head article i{
    font-size: .56rem;
}
.myClass_head article p{
    margin: .1rem 0 0 0;
}
.myClass_content{
    display: flex;
    flex-direction: column;
}
.myClass_empty {
    margin: 1.5rem 0 0;
    text-align: center;
    color: #999;
}
.m_c_tit{
    height: 1.1rem;
    line-height: 1.1rem;
    padding: 0 .3rem;
    font-size: .34rem;
    border-bottom: .1rem solid #1b2228;
}
.m_c_tit span{
    padding-left: .2rem;
    border-left: .15rem solid #fbdb2f;
}
.m_c_list{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem .19rem .28rem;
    border-bottom: .1rem solid #1b2228;
}
.m_list_left{
    flex: 1;
}
.list_left_figure{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: .25rem;
}
.list_left_figure img{
    width: 1.4rem;
    height: 1.4rem;
    border-radius: .7rem;
    margin-right: .3rem;
}
.list_left_figure figcaption h4{
    margin-bottom: .12rem;
    font-size: .29rem;
}
.list_left_figure figcaption p span{
    display: inline-block;
    margin-right: .35rem;
    font-size: .29rem;
}
.list_left_figure figcaption p i{
    display: inline-block;
    height: .47rem;
    line-height: .47rem;
    padding: 0 .15rem;
    background-color: #474747;
}
.list_left_figure figcaption p i.i-over{
    background-color: #999;
    color: #eee;
}
.list_left_p{
    padding-left: .1rem;
}
.m_list_right{
    width: 1.8rem;
    text-align: right;
}
.m_list_right a{
    display: inline-block;
    width: 1.17rem;
    height: .57rem;
    line-height: .57rem;
    text-align: center;
    border: .01rem solid #fff000;
}
.m_list_right a.order_det_btn{
    width: 1.4rem;
    margin-top: .3rem;
}

/* 课程详情 */
.sidebar-serve{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: .9rem;
}
.sidebar-serve a{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    color: #0e1317;
}
.sidebar-serve a img{
    width: .4rem;
    height: .4rem;
    margin-right: .1rem;
}
.details_head img{
    display: block;
    width: 100%;
}
.details_content{
    margin-bottom: .5rem;
}
.d_c_course,.d_c_intro{
    display: flex;
    flex-direction: column;
    padding-bottom: .9rem;
}
.d_c_courTit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 1rem;
    line-height: 1rem;
    padding: 0 .28rem;
    font-size: .29rem;
    background-color: #06090b;
}
.d_c_courTit a{
    width: .6rem;
    text-align: right;
}
.d_c_courList{
    display: flex;
    flex-direction: column;
    padding: 0 .28rem .24rem .28rem;
    border-bottom: .1rem solid #1b2228;
}
.c_courList_intro{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .3rem 0 .2rem;
}
.c_courList_intro div{
    margin-right: .3rem;
}
.c_courList_intro div img{
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 auto;
    border-radius: .6rem;
}
.c_courList_intro div b{
    display: block;
    margin-top: .1rem;
    text-align: center;
}
.c_courList_intro figcaption{
    flex: 1;
}
.c_courList_intro figcaption{
    margin-top: -.5rem;
    padding-right: .15rem;
    font-size: .29rem;
}
.c_courList_intro figcaption i {
    display: block;
    margin-top: .08rem;
}
.c_courList_intro figcaption i em{
    text-decoration: line-through;
    font-size: .32rem;
}
.courList_intro_btn{
    width: 1.1rem;
    height: .6rem;
    line-height: .6rem;
    text-align: center;
    border: .01rem solid #fbdb2f;
    color: #fbdb2f;
}
.courList_intro_btn.btn-active{
    background-color: #999;
    border: .01rem solid #999;
    color: #eee;
}
.d_c_courList p{
    line-height: auto;
}

.d_c_intro{
    border-bottom: .1rem solid #1b2228;
    padding: 0 .28rem .5rem;
}
.d_c_intro h4{
    margin: .2rem 0 .15rem;
    font-size: .34rem;
}
.d_c_intro h4 img{
    width: .48rem;
    height: .45rem;
    vertical-align: text-bottom;
}
.d_c_intro img{
    display: inline-block;
    width: 2.8rem;
    height: 2rem;
    margin-right: .2rem;
}
.d_c_intro p{
    margin: .05rem 0;
}
.d_c_intro p i{
    display: inline-block;
    margin: 0 .05rem .1rem;
    padding: .01rem .1rem;
    border-radius: .05rem;
    background-color: #444;
}
.d_c_intro p.c_intro_p{
    padding: .22rem .3rem;
    border: 1px solid  #fff000;
    font-size: .3rem;
}
.c_intro_p span,.c_intro_p em{
    display: block;
    text-align: center;
}
.details_footer{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 5;
    display: flex;
    width: 100%;
    height: .9rem;
}
.details_footer a{
    flex: 1;
    line-height: .9rem;
    text-align: center;
    color: #0e1317;
    font-size: .37rem;
}
/* 弹窗 */
.dialog-details{
    width: 6.9rem;
    height: auto;
    background-color: rgba(0, 0, 0, .85);
    color: #fff;
    font-size: .37rem;
}
.dialog-details h3{
    position: relative;
    height: .9rem;
    overflow: hidden;
}
.dialog-details h3 span{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: .9rem;
    line-height: .9rem;
    text-align: center;
    color: #040811;
}
.dialog-details h3 em{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    border-top: 1rem solid #fff000;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
}
.dialog_d_list{
    padding: .55rem .32rem 0;
}
.dialog_d_list p{
    display: flex;
    flex-direction: row;
    line-height: .74rem;
}
.dialog_d_list p i{
    width: 2rem;
    height: .74rem;
    text-align: justify;
    text-align-last: justify;
    overflow: hidden;
}
.dialog_d_list p i em{
    display:inline-block;
    width:100%;
}
.dialog_d_list p span{
    flex: 1;
}
.dialog_d_list p.dialog_d_list_tel input{
    display: block;
    width: 95%;
    height: .7rem;
    padding: 0 .2rem;
    border: none;
    border-radius: .05rem;
    font-size: .3rem;
}
.dialog_d_list p.dialog_d_list_sex select{
    width: 95%;
    height: .6rem;
    padding: 0 .2rem;
    background: #fff url(http://ourjs.github.io/static/2015/arrow.png) no-repeat scroll right center;
    background-size: 6%;
    border-radius: .05rem;
    font-size: .3rem;
}
.dialog_d_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.2rem;
}
.dialog_btn_pay{
    width: 4.72rem;
    height: .9rem;
    line-height: .9rem;
    text-align: center;
    color: #030405;
}
.dialog_btn_close{
    width: .8rem;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    font-size: .8rem;
    color: #fff;
}

/* 动画库 */
.md-perspective,
.md-perspective body {
	height: 100%;
	overflow: hidden;
}

.md-perspective body  {
	background: #222;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
}

.container {
	background: #e74c3c;
	min-height: 100%;
}

.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(143,27,15,0.8);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}
/* Effect 19:  Slip in from the top with perspective on container */
.md-show.md-effect-19 ~ .container {
	height: 100%;
	overflow: hidden;
}

.md-show.md-effect-19 ~ .md-overlay {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.md-show.md-effect-19 ~ .container,
.md-show.md-effect-19 ~ .md-overlay {
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin: 50% 100%;
	-webkit-animation: OpenTop 0.2s forwards ease-in;
	-moz-transform-style: preserve-3d;
	-moz-transform-origin: 50% 100%;
	-moz-animation: OpenTop 0.2s forwards ease-in;
	transform-style: preserve-3d;
	transform-origin: 50% 100%;
	animation: OpenTop 0.2s forwards ease-in;
}

@-webkit-keyframes OpenTop {
	50% { 
		-webkit-transform: rotateX(10deg); 
		-webkit-animation-timing-function: ease-out; 
	}
}

@-moz-keyframes OpenTop {
	50% { 
		-moz-transform: rotateX(10deg); 
		-moz-animation-timing-function: ease-out; 
	}
}

@keyframes OpenTop {
	50% { 
		transform: rotateX(10deg); 
		animation-timing-function: ease-out; 
	}
}

.md-effect-19 .md-content {
	-webkit-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	transform: translateY(-200%);
	opacity: 0;
}

.md-show.md-effect-19 .md-content {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
	-webkit-transition: all 0.5s 0.1s;
	-moz-transition: all 0.5s 0.1s;
	transition: all 0.5s 0.1s;
}

/* 课程确认 */
.order_confirm{
    margin: .5rem .3rem .5rem;
}
.confirm_box{
    padding-bottom: .9rem;
    border: .05rem solid #fbdb2f;
    font-size: .35rem;
}
.confirm_box h3 {
    position: relative;
    height: .9rem;
    overflow: hidden;
}
.confirm_box h3 span {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: .9rem;
    line-height: .9rem;
    text-align: center;
    color: #040811;
}
.confirm_box h3 em {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    border-top: 1rem solid #fbdb2f;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
}
.confirm_box p {
    display: flex;
    flex-direction: row;
    line-height: .74rem;
}

/* 地图 */
.course_map{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: .48rem;
    font-size: .3rem;
}
.map_nav{
    position: relative;
    width: 100%;
    height: .9rem;
    line-height: .9rem;
    font-size: .32rem;
    text-align: center;
}
.map_nav a{
    position: absolute;
    left: 0;
    width: 1rem;
    font-size: .5rem
}
.map_box{
    width: 100%;
}
.map_intro{
    width: 100%;
    padding: 0 .3rem .2rem;
}
.map_intro h4{
    margin-top: .2rem;
    margin-bottom: .1rem;
    font-size: .32rem;
}
.map_intro p{
    color: #ccc;
}

/* 错误页面 */
.error_head{
    text-align: center;
}
.error_head h4{
    padding-top: .5rem;
    color: #fefefe;
    font-size: .4rem;
}
.course_error{
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-50%);
    text-align: center;
    font-size: .3rem;
}
.course_error img{
    width: 4.2rem;
    margin-bottom: .5rem;
}
.course_error p{
    color: #ddd;
}
.course_error p a{
    text-decoration: underline;
}

/* 教练信息 */
.course_coach{
    display: flex;
    flex-direction: column;
    font-size: .29rem;
}
.coach_header{
    width: 100%;
    height: auto;
    padding: .42rem .5rem .3rem;
    background: url("../../images/course/coach_bg.png") no-repeat;
    background-size: 100% 100%;
    color: #0e1317;
}
.coach_h_top{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.coach_h_top img{
    width: 2.22rem;
    height: 2.22rem;
    border: .06rem solid #fff;
    border-radius: 1.11rem;
}
.coach_hTop_intro{
    flex: 1;
    margin-left: .5rem;
}
.coach_hTop_intro h5{
    margin-bottom: .2rem;
    font-size: .37rem;
}
.coach_hTop_intro h5 i{
    display: inline-block;
    width: .4rem;
    height: .4rem;
    margin-left: .3rem;
    vertical-align: text-bottom;
}
.coach_gender_man{
    background: url("../../images/course/icon_man.png") no-repeat;
    background-size: 100% 100%;
}
.coach_gender_woman{
    background: url("../../images/course/icon_woman.png") no-repeat;
    background-size: 100% 100%;
}
.coach_header > p{
    margin-top: .2rem;
    font-size: .26rem;
}
.coach_c_photos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: .1rem;
}
.coach_c_photos img{
    width: 2.36rem;
    height: 2.36rem;
}

/* 个人中心 */
.course_user{
    font-size: .32rem;
}
.user_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: .8rem 0 2rem;
    background: url("../../images/course/user_bg.png") no-repeat;
    background-size: 100% 100%;
}
.user_header img{
    width: 2.8rem;
    height: 2.8rem;
    border: .05rem solid #fff;
    border-radius: 1.4rem;
}
.user_name{
    margin-top: .27rem;
    font-size: .4rem;
}
.user_name i{
    margin-left: .15rem;
    font-weight: bold;
}
.user_c_nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .8rem 0;
}
.user_c_nav a{
    flex: 1;
    text-align: center;
}
.user_c_nav a img{
    display: block;
    width: .81rem;
    height: .81rem;
    margin: 0 auto .3rem;
}

/* 订单状态 */
.order_status{
    padding: 1.02rem .26rem;
    font-size: .34rem;
}
.status_box{
    border: .03rem solid #fbdb2f;
}
.status_box h3{
    height: .92rem;
    line-height: .92rem;
    text-align: center;
    color: #000;
}
.status_box img{
    width: 100%;
    height: 3.66rem;
}
.status_box_list{
    padding: .57rem .32rem .98rem;
}
.status_box_list p{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: .68rem;
}
.status_box_list p:last-of-type{
    margin-bottom: 0;
}
.status_box_list p i{
    display: inline-block;
    width: .3rem;
    height: .3rem;
    margin-right: .3rem;
    background: url("../../images/course/icon.png") no-repeat;
    vertical-align: middle;
}
.status_box_list p em{
    white-space: nowrap;
}
.status_box_list p span{
    flex: 1;
    font-size: .32rem;
}
 
/* 我的钱包 */
.course_wallet{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .26rem;
}
.Invite_friend{
    width: 100%;
    padding: .2rem 0 0;
    text-align: right;
    font-size: .3rem;
}
.Invite_friend a{
    padding: .2rem .2rem;
}
.income_details{
    width: 100%;
    padding: .21rem .2rem 0 0;
    font-size: .29rem;
    text-align: center;
}
.income_details a{
    padding: .2rem .2rem;
}
.wallet_icon{
    width: 2.83rem;
    margin-top: .13rem;
}
.my_income{
    margin: .94rem 0 .36rem;
    font-size: .37rem;
}
.income_count{
    font-size: .66rem;
}
.withdrawals{
    width: 6rem;
    height: .9rem;
    line-height: .9rem;
    margin: 1.2rem 0 .3rem;
    text-align: center;
    color: #0e1317;
    font-size: .34rem;
}
.wallet_copy{
    margin-top: 2.77rem;
    padding-bottom: .42rem;
}

/* 提现申请弹出框 */
.diialog-withdraw{
    width: 6.1rem;
    font-size: .29rem;
}
.diialog-withdraw-content{
    position: relative;
    padding: 1.57rem .3rem .66rem;
    background: url("../../images/course/withdraw_bg.png") no-repeat;
    background-size: 100% 100%;
}
.diialog-withdraw-content h3{
    position: absolute;
    top: -.3rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 4.18rem;
    height: 1.4rem;
    background: url("../../images/course/withdraw_tit.png") no-repeat center;
}
.diialog-withdraw-content p{
    position: relative;
    display: flex;
    flex-direction: row;
    height: .73rem;
    line-height: .73rem;
    margin-bottom: .42rem;
    background-color: #fff;
    border-radius: .1rem;
}
.diialog-withdraw-content p span{
    width: 1.75rem;
    padding-left: .3rem;
    white-space: nowrap;
}
.diialog-withdraw-content p input{
    flex: 1;
    height: 100%;
    padding: 0 .5rem 0 .1rem;
    border: none;
}
.diialog-withdraw-content p input:focus:invalid {
    /*    border:solid 1px #F5192F;*/
    box-shadow: 0 1px 10px #F5192F;
}

.diialog-withdraw-content p input:focus:valid {
    /*    border:solid 1px #5cb85c;*/
    box-shadow: 0 1px 10px #5cb85c;
}
.diialog-withdraw-content p i{
    position: absolute;
    right: .2rem;
    top: 0;
}
.diialog-withdraw-content .apply_withdraw{
    display: block;
    width: 3.36rem;
    height: .73rem;
    line-height: .73rem;
    margin: 0 auto;
    background-color: #0e1317;
    border-radius: .1rem;
    text-align: center;
}
.diialog-withdraw .dialog_d_btn{
    margin-top: .5rem;
}

/* 提现记录 */
.user_withdraw_list{
    font-size: .29rem;
}
.withdraw_list_table{
    width: 100%;
    line-height: .9rem;
    text-align: center;
    border-collapse:collapse; 
    border-spacing:0; 
}
.withdraw_list_table thead{
    font-size: .34rem;
    color: #0e1317;
}
.withdraw_list_table th,.withdraw_list_table td { 
    padding: 0; 
}
.withdraw_list_table tbody tr:nth-child(2n+1){
    background-color: #36393c;
}
.withdraw_list_table tbody tr td:nth-child(2){
    color: #fbdb2f;
}

/* 邀请好友 */
.user_pullnew{
    position: relative;
    font-size: .29rem;
}
.pullnew_head{
    position: relative;
    width: 100%;
    height: 5.11rem;
    background: url("../../images/course/invite_tit.png") no-repeat;
    background-size: 100% 100%;
}
.pullnew_head img{
    position: absolute;
    top: 2.7rem;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
    width: 3.05rem;
    height: 3.05rem;
    border: .12rem solid #fff;
    border-radius: 50%;
}
.pullnew_body{
    position: relative;
    margin-top: 1.5rem;
}
.pullnew_body::before{
    content: '';
    position: absolute;
    top: -1.9rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 3.5rem;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    background-color: #fbdb2f;
}
.pullnew_body_inner{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: auto;
    padding: 0 .3rem 1.5rem;
    color: #0e1317;
}
.pullnew_body_inner h3{
    margin: 0.2rem 0 .3rem;
    text-align: center;
    font-size: .37rem;
}
.pullnew_body_inner h3:first-of-type{
    margin: -0.5rem 0 .3rem;
}
.pullnew_body_inner .share_friend{
    position: fixed;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: .9rem;
    line-height: .9rem;
    /* margin: .5rem auto 1rem; */
    background-color: #0e1317;
    border-radius: .1rem;
    text-align: center;
}

/* 拉新规则 */
.withdraw_rule{
    padding: .3rem .3rem .5rem;
    font-size: .3rem;
}
.withdraw_rule h3{
    margin: .2rem 0;
    text-align: center;
}